@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: whitesmoke;
  margin: 0 auto;
  font-family: CircularStd;
}
h2 {
  width: 290px;
  height: 41px;
  font-family: CircularStd;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.37;
  letter-spacing: 0.4px;
  color: #425273;
}
.myContainer {
  display: flex;
  flex-direction: column;
}

.myContainer-sesion {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.Navbar {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: 7rem 0 0 0;
}

button a {
  text-decoration: none;
  font-family: CircularStd;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  color: #425273;
}

.logo {
  display: flex;
  margin: 4rem 0 0 1rem;
}

.logo img{
  width: 12rem;
  height: 2rem;
  object-fit: contain;
}

.buttons {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 4rem 0 0 0;
}

.btn-signup {
  display: flex;
  justify-content: flex-end;
}

.btn-signup input{
  font-family: CircularStd;
  font-size: 1rem;
  font-weight: 500;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  color: #e30b4c;
}

.btn-signup button{
  font-family: CircularStd;
  font-size: 1rem;
  font-weight: 500;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  /* color: #e30b4c; */
}
.btn-signup button:enabled {
  color:#e30b4c;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0 0 0;
}

.sign_profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
  width: 15rem;
  height: 8rem;
  border: 2px solid #e30b4c;
  margin: 0 auto;
  box-shadow: 0 17px 13px -5px rgba(252, 128, 143, 0.23);
  background-color: #f6f6f7;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #e30b4c;
}

.line-grey {
  width: 100%;
  height: 3px;
  background-color: #425273;
}


.sign {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
.sign p {
  width: 116px;
  height: 20px;
  font-family: CircularStd;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #e30b4c;
}


.sign input {
  background-color: transparent;
  border: none;
}

.sign-ccv {
  border: none;
  display: flex;
  flex-direction: column;
  margin: 2rem 0;

}

.sign-ccv p {
  width: 116px;
  height: 20px;
  font-family: CircularStd;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #e30b4c;
}

.sign-input-ccv {
  width: 25%;
  height: 2rem;
  background-color: rgba(240, 81, 110, 0.23);
  font-size: 2rem;
}

.not {
  width: 100%;
  margin: 5rem auto;
}

.home-background {
  position: absolute;
  width: 100%;
  height: 50%;
  opacity: 0.91;
  background-image: linear-gradient(to top, #364b63, #567aa4);
}

.home-background img {
  width: 100%;
  position: absolute;
  object-fit: contain;
}

.home-background h1 {
  position: absolute;
  margin: 4rem 1rem;
  width: 222px;
  height: 78px;
  font-family: CircularStd;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.07;
  letter-spacing: 0.4px;
  color: #ffffff;
}

.home-background p {
  position: relative;
  margin: 8rem 1rem;
  width: 222px;
  height: 48px;
  font-family: CircularStd;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #ffffff;
}

.ticket-background {
  width: 360px;
  height: 239px;
  box-shadow: 0 0 28px 7px rgba(246, 246, 247, 0.3);
  background-image: radial-gradient(circle at 146% 81%, #76d1ed, #fc808f 66%, #e93a76);
  display: flex;
  position: relative;
  margin: 15rem auto 0 auto;
}

.ticket-background img {
  width: 100%;
  position: absolute;
}
 
.ticket-background-ok {
  width: 360px;
  height: 261px;
  box-shadow: 0 0 28px 7px rgba(246, 246, 247, 0.3);
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 15rem auto 0 auto;

}
.ticket-background-ok img {
  width: 100%;
}


.ticket-config {
  margin: 13rem auto 0 auto;
  width: 280px;
  height: 48px;
  box-shadow: 0 17px 17px 0 rgba(252, 128, 143, 0.23);
  background-color: #e30b4c;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ticket-config a {
  text-decoration: none;
  font-family: CircularStd;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #ffffff;

}

.ticket-name {
  position: absolute;
  margin: 13rem auto 0 auto;
  width: 280px;
  height: 48px;
  box-shadow: 0 17px 17px 0 rgba(252, 128, 143, 0.23);
  background-color: #e30b4c;
}

.edit {
  position: absolute;
  margin: 8rem 0 0 20rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0 10px 10px 0 rgba(98, 120, 150, 0.35);
  background-color: #ffffff;
}

.edit img {
  width: 70%;
  margin: 6px;
}

.ticket-btn button {
  width: 100%;
  height: 100%;
  font-family: CircularStd;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  text-align: center;
  color: #ffffff;
}

/* Scroll*/
.cards {      
  margin: 4rem 0 0 0;
  display: flex;
  width: 321px;
  height: 400px;
  background-color: #ececf2;
  min-width: 100%;
  min-height: 200px;
  overflow-x: auto;
}

.cards::-webkit-scrollbar {
  display: none;
}
.cards-h1 {
  margin:1rem;
  width: 290px;
  height: 41px;
  font-family: CircularStd;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.37;
  letter-spacing: 0.4px;
  color: #425273;
}
.cards--content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 3rem;
  border: solid white 5px;
  width: 321px;
  height: 400px;
  background-color:  #ececf2;
}

.card--content--li {
  list-style: none;
}
.card--content--li img {
  width: 264px;
  height: 177px;
  box-shadow: 0 34px 28px 7px rgba(252, 128, 143, 0.11);
}
.card--content--li div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card--select {
  margin: 2rem 0 0 0;
    width: 100%;
    height: 48px;
    border: 2px solid #e30b4c;
}
.card--select a {
  width: 208px;
  height: 23px;
  font-family: CircularStd;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  color: #e30b4c;
}
.card--select--li {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card--select img {
  width: 26px;
  height: 26px;
  object-fit: contain;
}
.card--select--li p {
  width: 132px;
  height: 44px;
  font-family: CircularStd;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #425273;
}
/*Scroll Logo*/
.card-logo {
  margin: 3rem 0;
  display: flex;
  width: 321px;
  height: 22rem;
  background-color: #ececf2;
  min-width: 100%;
  min-height: 200px;
  overflow-x: auto;
}

.card-logo::-webkit-scrollbar {
  display: none;
}

.card--content-logo {
  border: solid whitesmoke 5px;
}
.card--content-logo img {
  width: 327px;
  height: 408px;
  object-fit: contain;
}

.App h1{
  width: 290px;
  height: 41px;
  font-family: CircularStd;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.37;
  letter-spacing: 0.4px;
  color: #425273;
  margin: 1rem;
}

.profile-background {
  width: 375px;
  height: 318px;
  background-image: linear-gradient(311deg, #ff3c54, #b5003c);

}


.demoForm {
	width: 400px;
	max-width: 80%;
	margin: auto;
}
.formErrors {
  display: flex;
  justify-content: space-around;
	margin: 1rem auto;
	color: #e30b4c;
}

.tk-info{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.tk-info p {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-family: CircularStd;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  color: #425273;
}


.data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.data input{
  background-color: transparent;
  border: none;
}
.select-pay {
  margin: 1rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}
.select-pay p {
  margin: 3rem 0 0 0;
  width: 344px;
  height: 69px;
  font-family: CircularStd;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9babc3;

}
.apple-card {
 background-image: url(https://support.apple.com/library/content/dam/edam/applecare/images/en_US/apple-store-giftcard-2col.png);
 background-size: 290px;
 background-repeat: no-repeat;
 margin: 1rem 0 0 0;
 width: 290px;
}
.nfc {
  display: flex;
  border-radius: 50%;
  background-color: #e30b4c;
}
.nfc img {
  width: max-content;
}